<style is:global>
  .center {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="center">
  <slot />
</div>