---
import { Image } from 'astro:assets';
const { name } = Astro.props;

const logoImg = '/logo.png';
---

<a
  href="/"
  class="logo"
  aria-label="Go to homepage"
>
  <Image
    src={logoImg}
    alt="Logo"
    width="60"
    height="70"
  />
  <span>{name}</span>
</a>

<style lang="scss">
  .logo {
    display: flex;
    align-items: baseline;

    img {
      position: relative;
      bottom: -15px;
    }

    span {
      display: none;
    }

    @container nav (inline-size >= 24em) {
      span {
        display: block;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
</style>
