<a
  href="https://www.puttopack.pl"
  class="logo"
  title="Puttopack"
  aria-label="Put to Pack logo"
>
  <span
    class="logo-shape"
    aria-hidden="true"
  ></span>
  <span class="logo-text">Put to Pack</span>
</a>

<style>
  .logo {
    display: flex;
    align-items: center;
    font-family: 'Francois One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
  }

  .logo-shape {
    background-color: #f3ccd5;
    width: 2em;
    height: 2em;
    margin-right: -1.8em;
  }
</style>
