---
import './button.scss';
import { Icon } from 'astro-icon/components';
const { className, iconName, buttonText } = Astro.props;
---
<button type="button" class={className} >
  {iconName &&
    <Icon class="icon" name={iconName} />
  }
  {buttonText}
</button>