  button,
  .button {
    display: inline-flex;
    text-align: center;
    align-self: flex-start;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--primary);
    color: var(--neutral-900);
    font-size: 18px;
    padding: 0.75em 2em;
    border-radius: 5px;
    border: 2px solid var(--primary);

    &:is(:hover, :focus) {
      background: var(--primary);
      border: 2px solid var(--primary);
    }

    &:is(:active) {
      // transform to make it look like it's pressed
      transform: translateY(3px) translateX(2px);
    }

    &.secondary {
      border: 2px solid #E8E8E4;
      background: #E8E8E4;
    }

    &.outline {
      background: inherit;
      color: var(--neutral-900);
      border: 2px solid var(--neutral-900);
    }

    &.large {
      font-size: 20px;
      padding: 1em 2em;
    }

    &.full {
      display: block;
      width: 100%;
    }

    &.email {
      border: 0;
      background: #FEC5BB;
    }

    &.has-icon {
      display: flex;
      align-items: center;

      [data-icon] {
        font-size: 2ch;
        fill: currentColor;
        margin-right: 0.25em;
      }
    }
  }