body {
  font-family: 'Inter', sans-serif;
  font-size: calc(100% + 0.25vw);
  line-height: 1.5;
  text-wrap: balance;
  /* this belongs in here ? */
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  $line-height-compact: 1.2;

  :where(header, h1, h2, h3, .button) {
    font-family: 'Rethink Sans Variable', sans-serif;
  }

  a {
    color: var(--neutral-900);
    text-decoration: none;

    &:visited {
      color: var(--neutral-900);
    }
  }

  h1,
  h2 {
    font-weight: 800;
    line-height: $line-height-compact;
  }

  h3 {
    font-weight: 700;
    line-height: $line-height-compact;
  }

  h1 {
    font-size: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
  }

  h2 {
    font-size: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  }

  h3 {
    font-size: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  }

  .header p {
    font-size: calc(100% + 0.35vw);
    text-wrap: pretty;
  }

  .is-capitalized {
    text-transform: uppercase;
  }
}