@charset "UTF-8";

@import './_reset';
@import './_theme';
@import './_layout';
@import './_font';
@import './_navbar';
@import './_button';
@import './_speech-bubble';

:root {
  --font-color: var(--neutral-900);

  --background: var(--neutral-100);
  --bg-accent: var(--toned-bg-accent);
  --bg-highlight: var(--toned-bg-highlight);

  --primary: var(--toned-primary);
  --secondary: var(--brute-secondary);
  --tertiary: var(--brute-tertiary);

  --border-sm: 0.35vmin solid var(--neutral-900);
  --border-md: 0.4vmin solid var(--neutral-900);
  --border-lg: 0.5vmin solid var(--neutral-900);
  --box-shadow: 0.4rem 0.4rem var(--neutral-900);

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-btn: 5px;

  --max-section-width: 80ch;
}

body {
  height: 100%;
  overflow: visible;
  color: var(--font-color);
  background: var(--background);

  header,
  #hero {}

  #hero {
    height: 40vh;
    text-align: center;
  }

  #intro {}

  #photo {}

  #features {}

  #about {
    background: var(--bg-accent);
  }

  #contact .section {
    padding-top: 0;
  }

  footer {
    background: var(--dotted-pattern);
    background-size: 2em 2em;
    height: 25vh;
  }
}

.section {
  margin-inline: auto;
  container-type: inline-size;
  padding: var(--padding-lg) var(--padding-md);
  max-width: var(--max-section-width);

  .header {
    text-align: center;
  }

  @include breakpoint(medium) {
    #features .header {
      text-align: center;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Not the best place for this, but it's a small project
// its a button wrapper
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-xs);
}