/**
 * Modules are the reusable, standalone components.
 */

/******************************************************************************/

/**
 * [Table of Contents]
 * 1. 
 * 2. Features
 * 3. 
 * 4. 
 * 5. 
 * 6. 
 */

 /**
 * [2. Features]
 */

.features-container {
  display:    flex;
  flex-wrap:  wrap;
  padding:    0 var(--padding-md);
--multiplier: calc(40rem - 100%);
}

.feature-item {
  display:    grid;
  min-width:  33%;
  max-width:  100%;
  gap:        var(--gap-xs);
  margin-top: var(--margin-xs);
  flex-basis: calc(var(--multiplier) * 999);
  text-align: center;

  img {
    margin-inline: auto;
    opacity: 0.8;
  }

  p {
    text-wrap: balance;
    line-height: 1.7;
  }
}