$colors: (
  toned: (bg: hsl(40, 60%, 98.04%),
    bg-accent: hsl(120, 56%, 98%),
    bg-highlight: hsl(0, 0%, 98%),
    primary: hsl(111, 59%, 47%),
    secondary: hsl(43, 73%, 61%),
  ),
  brute: (bg: hsl(40, 60%, 98.04%),
    bg-accent: hsl(55.38, 37.14%, 93.14%),
    bg-highlight: hsl(30.43, 83.13%, 83.73%),
    primary: hsl(99.27, 55.56%, 80.59%),
    secondary: hsl(0, 100%, 70.98%),
    tertiary: hsl(38, 95%, 57%),
  ),
  neutral: (100: hsl(0 0% 100%),
    200: hsl(52, 85%, 93%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(234, 50%, 4%),
  ),
  dark: (100: hsl(240, 4%, 9%),
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}