:root {
  --base-font-size: 1rem;
  --fluid-font-size: calc(var(--base-font-size) + 0.390625vw);
  --base-line-height: 1.6;

  --h1-base: 1.8rem;
  --h2-base: 1.5rem;
  --h3-base: 1.1rem;
  --h4-base: 1.15rem;
}

body {
  font-family: Inter, sans-serif;
}

h1 {
  --font-size-base: var(--h1-base);
  --font-size-fluid: 1.75cqi;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  --font-size-base: var(--h2-base);
  --font-size-fluid: 1.5cqi;
  font-weight: 600;
}

h3 {
  --font-size-base: var(--h3-base);
  --font-size-fluid: 1cqi;
  line-height: 1.2;
}

@supports (font-size: 1cqi) {
  :is(h1, h2, h3, h4, .fluid-type) {
    font-family: "Poppins", sans-serif;
    font-size: calc(var(--font-size-base) + var(--font-size-fluid, 2.5cqi));
  }
}

nav a {
  font-size: 0.85rem;
  font-weight: 600;
}

#hero {
  text-align: center;

  p,
  li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: var(--base-line-height);
    opacity: 0.8;
  }
}

.section-header {
  text-align: center;
  .title {
    font-size: 1rem;
    font-weight: 600;
    color: #cf3520;
    opacity: 1;
  }

  h2 {
    margin-top: var(--margin-sm);
  }

  p {
    font-size: var(--fluid-font-size);
    line-height: var(--base-line-height);
    opacity: 0.8;
  }
}

@media (max-width: 40rem) {
  :is(.section-header, #hero p) {
    text-align: left;
  }
  :is(.book-call) {
    display: none;
  }
  .header {
    margin-top: var(--margin-md);
  }

  :is(#hero .header [role="list"]) {
    flex-direction: column;
  }
}
