@charset "UTF-8";

@import './_reset';
@import './_theme';
@import './_layout';
@import './_font';
@import './_button';

:root {
  /* Layout */

  --small-screen: 24em;
  --max-section-width: 80ch;


  // Colors
  --text: #050315;
  --background: #FAF7FO;
  --primary: #FEC5BB;
  --secondary: #E5ECE4;
  --accent: #C6D8BD;

  --bg-accent: #E8E8E4;
  --bg-highlight: var(--toned-bg-highlight);

  --border-sm: 2px solid var(--neutral-900);
  --border-md: 0.4vmin solid var(--neutral-900);
  --border-lg: 0.5vmin solid var(--neutral-900);
  --box-shadow: 0.4rem 0.4rem var(--neutral-900);

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-btn: 5px;
}

body {
  height: 100%;
  overflow: visible;
  color: var(--text);
  background: var(--background);

  #photo .section {
    padding-top: 0;
  }

  #about {
    background: #E8E8E4
  }

  #contact .section {
    padding-top: 0;
  }

}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

// Not the best place for this, but it's a small project
// its a button wrapper
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-xs);
}