---
import Stack from '@layouts/Stack.astro';
import Button from '@components/ui/Button.astro';
const { title, paragraph, linkUrl, linkText } = Astro.props;
---

<section>
  <Stack>
    <h2>{title}</h2>
    <p>{paragraph}</p>
    <Button
      asLink
      url={linkUrl}
      className="outline"
    >
      {linkText}
    </Button>
  </Stack>
</section>

<style lang="scss">
  section {
    padding: 1rem;
    width: fit-content;
    margin-inline: auto;
  }
</style>
