---
import './hero.scss';
import { Image } from 'astro:assets';
import backgroundImage from '/src/assets/images/hero_bg.png';
---
<section id="hero">
  <div class="header">
    <h1>
      Twój Naturalnie Odpowiedzialny Doradca
    </h1>
    <div class="card">
      <p>
        Zapewniamy kompleksowe wsparcie związane z realizacją przepisów środowiskowych.
      </p>
      <ul class="card-list" role="list">
        <li data-icon="🦄">Audyt</li>
        <li data-icon="😎">Wdrożenia</li>
        <li data-icon="🌈">Szkolenia</li>
      </ul>
    </div>
  </div>
  <Image class="background-img" src={backgroundImage} alt="Background image" />
</section>