:root {
  --color-text: #232115;
  --color-bg: #fff;
  --color-navbar: #fff;
  --color-border: hsl(17, 24%, 90%);

  --border-regular: 1px solid #dfe0e2;

  --mint-green: #f8fdf8;

  --border-radius-md: 0.5rem;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

#services {
  background-color: var(--mint-green);
}

footer {
  background-color: #f5f5f6;
}