:root {
  --section-container-max-width: 1200px;
  --navbar-height: var(--scale2);
  --border-thin: 1px solid var(--color-border);

  --color-text: #232115;
  --color-bg: #fff;
  --color-navbar: #fff;
  --color-border: hsl(17, 24%, 90%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: calc(15px + .390625vw);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

nav {
  font-size: 1rem;
  font-weight: 500;
}

.section-header {
  max-width: 43.75rem; /* Approx. 700px assuming the base font size is 16px */
  margin: 0 auto; /* Centers the content */
  text-align: center; /* Center aligns the text */
  padding: 1rem; /* Adds some padding around the content for spacing */
}
.section-subtitle {
  opacity: 0.6;
}

.content {
  margin-top: 4rem;
}



/* .container {
  max-width: var(--section-container-max-width);
} */


/* Temp Design Helper */
/* * {
  border: 1px dotted hsla(120, 5%, 4%, 0.137);
} */
