@charset "UTF-8";

@import './_reset';
@import './_theme';
@import './_typography';
@import './_layout';

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

#hero .card {
  width: 70%;
  margin-inline: auto;
  margin-top: var(--margin-sm);
  border: var(--border-regular);
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--color-bg);
  border-radius: var(--border-radius-md);
}