---
import './logo.scss';
import { Image } from "astro:assets";
import logoSrc from '/src/assets/images/putopack_logo.png';

const { name } = Astro.props;
---
<div class="logo">
  <a href="/">
    <Image
      src={logoSrc}
      alt={`${name} logo`}
      width="50"
      height="50"
    />
    <span>{name}</span>
  </a>
</div>