---
import './contact.scss'
import Section from "../../layouts/Section.astro"
import ContactForm from "../../components/contactForm/ContactForm.astro"
import Button from "../../components/button/Button.astro"
---
<Section name="contact">
  <div class="section-header">
    <p class="title">Kontakt</span>
    <h2>
      Przestań się czaić
    </h2>
    <p>
      Skontaktuj się ze mną, abyśmy wspólnie mogli pracować nad ekologiczną przyszłością Twojej marki.
    </p>
  </div>

  <div class="section-content">
    <div class="column card">
      <ContactForm />
    </div>
    <div class="column">
      <Button
        className="copy-email"
        buttonText="info@puttopack.pl"
        iconName="copy-ico"
      />
      <Button
        className="phone"
        buttonText="+48 123 456 789"
        iconName="phone-ico"
      />
    </div>
  </div>

  <div id="toast" class="toast">
    <span>Mail skopiowany do schowka!<span/>
  </div>
</Section>

<script>
  const copyEmailButton = document.getElementById('copy-email-button');

  copyEmailButton?.addEventListener('click', () => {
    navigator.clipboard.writeText('username@example.com');

    const toast = document.getElementById('toast');
  toast?.classList.add('show');

  // Hide the toast notification after 3 seconds
  setTimeout(() => {
    toast?.classList.remove('show');
  }, 3000);
  });
</script>
