---
import Main from '@layouts/Main.astro';
import Hero from '@components/hero/Hero.astro';
import Photo from '@components/about/Photo.astro';
import AboutMe from '@components/about/AboutMe.astro';
import Services from '@components/services/Services.astro';
import Contact from '@sections/Contact.astro';
---

<Main>
  <Hero />
  <Photo />
  <AboutMe />
  <Services />
  <Contact />
</Main>
