---
import Features from "./Features.astro"
---

<style>
.about-section {
  padding: 4rem 2rem;
  text-align: center;
}
.about-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-description {
  font-size: 1rem;
  line-height: 1.6;
}
</style>
  
  <div class="about-section">
    <h2 class="about-header">About Us</h2>
    <p class="about-description">
      We're passionate about delivering the best experience to our users. Our team is dedicated to creating innovative solutions that meet the needs of our community. Discover our journey and the values that drive us.
    </p>
    <Features />
  </div>
  