<style>
  a {
    -webkit-font-smoothing: antialiased;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;

    font-family: Poppins,sans-serif;

    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;

    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    background-color: #f5f5f6;

    margin-left: var(--margin-sm);
    white-space: nowrap;
  }
</style>

<a class="book-call" href="https://cal.com/rick/get-rick-rolled">Umów rozmowę</a>
