---
const { title, description, icon } = Astro.props;
---
<style lang="scss">
  .card {
    display: flex;
    flex-basis: calc(var(--multiplier) * 999);
    min-width: 49%;
    max-width: 100%;
    flex-grow: 1;
    background-color: #fff;
    align-items: center;
    padding: var(--padding-md);


      div {
        padding-left: var(--padding-sm);
          h3 {
            margin-bottom: var(--margin-xs);
          }
      }
  }
</style>

<div class="card">
  <img src={icon} alt="Skill Icon" width="60" height="60">
  <div>
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>
