<style>
  .card {
    display: flex;
    background-color: #fff;
    padding: 20px;
    align-items: center; /* Align items vertically */
}

.card-image {
    flex: 0 0 auto; /* Do not grow, do not shrink, initial basis auto */
    margin-right: 20px; /* Space between image and text */
}

.card-content h2 {
    font-size: 20px; /* Adjusted to your responsive requirements */
    font-weight: 600;
    color: #302b4e;
    margin: 0 0 10px 0; /* Add space below the header */
}

.card-content p {
    font-size: 16px;
    font-weight: 400;
    color: #43414e;
    margin: 0; /* Remove default margins */
}
</style>


<div class="card">
  <div class="card-image">
      <img src="/images/box.svg" alt="Skill Icon" width="69" height="69">
  </div>
  <div class="card-content">
      <h2>Optymalizacja kosztów</h2>
      <p>Przygotuję strategię pozwalającą zminimalizować wydatki przy jednoczesnej pełnej zgodności z obowiązującym prawem.</p>
  </div>
</div>
