---
import Section from "../layouts/Section.astro"
import Form from "../components/Form.astro"
---
<style lang="scss">
.section-content-group {
  display: flex;

  .column {
    flex: 1;
  }
};
</style>
<Section>
  <div class="section-header-group">
    <h2>Kontakt</h2>
    <p>Skontaktuj się ze mną, abyśmy wspólnie mogli pracować nad ekologiczną przyszłością Twojej marki.</p>
  </div>

  <div class="section-content-group">
    <div class="column">
      <p>info@puttopack.pl</p>
    </div>
    <div class="column">
      <Form />
    </div>
  </div>
</Section>
