---
const FEATURES = [
  {
    title: "Opakowania",
    body: "Opakowania i Produkty Opakowane z Własnym Brandingiem",
    src: "/images/box.svg",
  },
  {
    title: "Elektronika",
    body: "Urządzenia Elektryczne i Elektroniczne, Baterie oraz Akumulatory",
    src: "/images/battery.svg",
  },
  {
    title: "Specjalistyczne",
    body: "Zużyte Oleje, Opony, Środki Smarowe i Specjalistyczne",
    src: "/images/barrel.svg",
  }
];
---

<style>
  img {
    min-height: 4rem;
    min-width: 4rem;
    height: auto;
    width: auto;
    max-height: 6rem;
    max-width: 6rem;
  }
  .center-content: {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>

<section class="center">
  <div>
    <h2>Prosta ścieżka do spełnienia wymogów zrównoważonego rozwoju</h2>
    <p>Puttopack pomaga przedsiębiorcom w zakresie dokumentowania ilości wprowadzonych produktów i odpadów oraz wypełniania wymogów prawnych związanych z recyklingiem i gospodarką odpadami. Specjalizujemy się w takich obszarach jak:</p>

  <div class="grid center">
    {FEATURES.map(({ title, body, src}) => (
      <div class="grid center center-content">
        <img src={src} />
          <h3>
            {title}
          </h3>
          <p>
            {body}
          </p>
      </div>
    ))}
  </div>
</div>
</section>