---
import Section from '../layouts/Section.astro';

import { features } from '../data/data.js';
---

<style lang="scss">
  .features {
    display: flex;
    flex-wrap: wrap;
    --multiplier: calc(40rem - 100%);

     div {
      display: grid;
      gap: 1rem;
      min-width: 33%;
      max-width: 100%;
      flex-grow: 1;
      margin-top: 2rem;
      padding: 2rem;
      flex-basis: calc(var(--multiplier) * 999);
      text-align: center;

        img {
          margin-inline: auto;
        }
    } 
}
</style>

<Section name="features">
  <div class="section-header">
    <h2>
      Prosta ścieżka do spełnienia wymogów zrównoważonego rozwoju
    </h2>
    <p>
      Puttopack pomaga przedsiębiorcom w zakresie dokumentowania ilości wprowadzonych produktów i odpadów oraz wypełniania wymogów prawnych związanych z recyklingiem i gospodarką odpadami. Specjalizujemy się w takich obszarach jak:
    </p>
  </div>

  <div class="section-content">
    <div class="features">
      {features.map(({ title, body, src}) => (
        <div>
          <img src={src} />
          <h3>{title}</h3>
          <p>{body}</p>
        </div>
      ))}
    </div>
  </div>
</Section>