---
const currentYear = new Date().getFullYear().toString();
---
<style lang="scss">
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
  padding-top: 3rem;
  font-size: 1rem;

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    a {
      display: inline-block;
      padding: 0.5rem;
      border-radius: 4px;

      &:hover {
        background-color: #d0d0d0;
      }
    }
  }
}

@media (max-width: 600px) {
  .social-links {
    flex-direction: column;
  }
}
</style>

<footer>
  <div class="footer-content">
    <div class="copyright">
      <p>© {currentYear} Puttopack.</p>
    </div>
    <div class="social-links">
      <a href="#" class="social-link">Facebook</a>
      <a href="#" class="social-link">Instagram</a>
    </div>
  </div>
</footer>


