<style lang="scss">
  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: var(--border-regular);
  }

  .hero-container {
    width: min(100vw - 3rem, 80ch);
    margin-inline: auto;
  }
</style>

<section class="hero">
  <div class="hero-container">
    <h1>
      Twój przewodnik po świecie ekologicznego raportowania.
    </h1>
    <p class="hero-subtitle">
      Kompleksowe wsparcie na każdym etapie - od diagnozy obowiązków, przez rejestrację w BDO, aż po optymalizację kosztów związanych z przepisami środowiskowymi.
    </p>
  </div>
</section>