
<style>
.hero {
  height: 100vh;
}
.hero-container {
  width: 70%;
}
.hero-subtitle {
  opacity: 0.6;
}
</style>

<section class="hero">
  <div class="section-container">
    <h1>Twój przewodnik po świecie ekologicznego raportowania.</h1>
    <p class="hero-subtitle">Kompleksowe wsparcie na każdym etapie - od diagnozy obowiązków, przez rejestrację w BDO, aż po optymalizację kosztów związanych z przepisami środowiskowymi.</p>
  </div>
</section>