<style lang="scss">
  .hero {
    display: grid;
    grid-template-areas: "hero";
    overflow: hidden;
    height: 75vh;
    border-bottom: var(--border-regular);

    > * {
      grid-area: hero;
    }

    .header {
      margin-top: var(--margin-lg);
      width: min(100vw - 3rem, 80ch);
      z-index: 1;
      margin-inline: auto;

      [role="list"] {
        display: flex;
        justify-content: space-evenly;
        padding-top: var(--padding-xs);
        flex-direction: row;
        //TODO: Add media query for smaller screens


        li {
          padding-left: var(--padding-xs);
          &::marker {
            content: attr(data-icon);
            font-size: 1em;
          }
        }
      }
    }

    img {
      height: min(75vh, 800px);
      width: 100%;
      z-index: -1;
      filter: blur(0.5px);
      object-fit: contain;
      object-position: bottom;
      align-self: end;
      
    }
  }
</style>

<section class="hero">
  <div class="header">
    <h1>
      Doradca Naturalnie Odpowiedzialny
    </h1>
    <div class="card">
      <p>
        Zapewniamy kompleksowe wsparcie związane z realizacją przepisów środowiskowych.
      </p>
      <ul role="list">
        <li data-icon="🦄">Audyt</li>
        <li data-icon="😎">Wdrożenia</li>
        <li data-icon="🌈">Szkolenia</li>
      </ul>
    </div>
  </div>
  <img src="/images/hero_bg.png" alt="Background image" />
</section>

