---
//const backgroundImageUrl = '/images/background.jpg';
---

<style>
section {
 /* background-image: url('${backgroundImageUrl}'); */
  /* background-size: cover;
  background-position: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.hero-title {
  margin-bottom: 1rem;
}
.hero-subtitle {
  opacity: 0.6;
}
</style>

<section class="center">
  <div>
    <h1>Profesjonalne doradztwo w zakresie raportowania środowiskowego</h1>
    <p>Kompleksowe wsparcie na każdym etapie - od diagnozy obowiązków, przez rejestrację w BDO, aż po optymalizację kosztów związanych z przepisami środowiskowymi.</p>
  </div>
</section>