---
//const backgroundImageUrl = '/images/background.jpg';
---

<style>
.hero-section {
 /* background-image: url('${backgroundImageUrl}'); */
  /* background-size: cover;
  background-position: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: '#232115',
}
.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-subtitle {
  font-size: 1.5rem;
  opacity: 0.6;
}
</style>


<div class="hero-section">
  <h1 class="hero-title">Profesjonalne doradztwo w zakresie raportowania środowiskowego</h1>
  <p class="hero-subtitle">Kompleksowe wsparcie na każdym etapie - od diagnozy obowiązków, przez rejestrację w BDO, aż po optymalizację kosztów związanych z przepisami środowiskowymi.</p>
</div>
