
<style lang="scss">
  .logo {
    img {
      margin-right: 0.75rem;
      vertical-align: -0.8rem;
    }
    span {
      font-weight: 800;
      font-size: 1.6rem;
    }
    
  }
</style>

<div class="logo">
  <a href="/">
    <img 
      src="/images/putopack_logo.png"
      alt="Put to pack logo"
      width="60"
      height="55"
    />
    <span>PUT to PACK</span>
  </a>
</div>