
<style lang="scss">
  .logo {
    img {
      margin-right: 0.5rem;
      vertical-align: -1rem;
    }
    span {
      font-weight: 800;
      font-size: 1.2rem;
    }
  }
</style>

<div class="logo">
  <a href="/">
    <img 
      src="/images/putopack_logo.png"
      alt="PUT to PACK logo"
      width="50"
      height="50"
    />
    <span>PUT to PACK</span>
  </a>
</div>