---
import Logo from '../components/Logo.astro';
---
<style lang="scss">
header {
  top: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  border-bottom: var(--border-regular);
  background-color: var(--color-navbar);

    .container {
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      padding: var(--padding-sm);
      max-width: var(--section-container-max-width);

      nav {
        display: flex;

        menu {
          display: flex;
          align-items: center;
          list-style: none;
          gap: var(--gap-sm);
          li {
            padding: 0 var(--padding-sm);
          }
        }
      }

    .toggle {
      display: none;
    }

    @media (max-width: 768px) {
        .menu {
          display: none;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
        }

        .menu.active {
          display: flex;
        }

        .toggle {
          display: block;
        }
      }
  }
}
</style>

<header>
  <div class="container">
    <Logo />
    <div class="toggle">
      &#9776;
    </div>
    <nav class="menu" aria-label="Main Navigation">
      <menu>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </menu>
    </nav>
  </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const menu = document.querySelector('.menu');
  const toggleButton = document.querySelector('.toggle');

  if (menu && toggleButton) {
    toggleButton.addEventListener('click', () => {
      menu.classList.toggle('active');
    });
  }
});
</script>
