---
import Logo from '../components/Logo.astro';

import { menu } from '../data/data.js';
---
<style lang="scss">
header {
  top: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 4px rgba(161,169,197,.2);
  background-color: var(--color-navbar);

  .container {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-sm);
    max-width: var(--section-max-width);

    menu {
      display: flex;
      align-items: center;
      list-style: none;
      gap: var(--gap-sm);

      li {
        padding: 0 var(--padding-sm);
      }
    }

    .toggle {
      display: none;
    }

    @media (max-width: 768px) {
        .menu {
          display: none;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
        }

        .menu.active {
          display: flex;
        }

        .toggle {
          display: block;
        }
      }
  }
}
</style>

<header>
  <div class="container">
    <Logo />
    <div class="toggle">
      &#9776;
    </div>
    <nav class="menu" aria-label="Main Navigation">
      <menu>
       {menu.map(({ link, name }) => (
          <li>
            <a href={link}>{name}</a>
          </li>
        ))}
      </menu>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menu = document.querySelector('.menu');
    const toggleButton = document.querySelector('.toggle');

    if (menu && toggleButton) {
      toggleButton.addEventListener('click', () => {
        menu.classList.toggle('active');
      });
    }
  });
</script>
