---
import Logo from '../components/Logo.astro';
---
<style lang="scss">
header {
  top: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #7b7878;
  background-color: var(--color-navbar);

    .container {
      margin: 0 auto;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: var(--section-container-max-width);
  }
}

nav {
  display: flex;
  gap: 1rem;

  menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;

    li {
      padding: 0 1rem;
    }
  }
}


.toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
  }

  .menu.active {
    display: flex;
  }

  .toggle {
    display: block;
  }
}
</style>

<header>
  <div class="container">
    <Logo />
    <div class="toggle">
      &#9776;
    </div>
    <nav class="menu">
      <menu>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </menu>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const toggleMenu = () => {
      const menu = document.querySelector('.menu');
      if (menu) {
        menu.classList.toggle('active');
      }
    };

    const toggleButton = document.querySelector('.toggle');

    if (toggleButton) {
      toggleButton.addEventListener('click', toggleMenu);
    }

    document.querySelector('.toggle').addEventListener('click', (e) => {
      console.log(e.target === e.currentTarget);
    });
  });
</script>
