---
import Section from '@layouts/Section.astro';
---

<Section name="AboutMe">
  <div class="header stack-sm">
    <h2>O mnie</h2>
    <p>Cześć! Jestem Zuza, od ponad 5 lat zajmuję się ochroną środowiska,</p>
  </div>

  <div class="content">
    <p>
      ze szczególnym uwzględnieniem obszaru związanego z identyfikacją i wprowadzaniem na rynek
      produktów w opakowaniach, sprzętu elektronicznego i elektrycznego oraz artykułów takich jak
      oleje czy opony. Przez lata pracy nad różnorodnymi projektami zdobyłam nie tylko wiedzę, ale i
      praktyczne doświadczenie w identyfikowaniu i interpretowaniu złożonych regulacji dotyczących
      obowiązków przedsiębiorców w zakresie przepisów ochrony środowiska. Podczas współpracy ze mną,
      nie tylko pomogę Ci w zrozumieniu i wdrożeniu obowiązków wprowadzeniowych, ale także zapewnię
      pełne wsparcie na każdym etapie procesu.
    </p>
  </div>
  <div class="content">
    <p>
      Zapraszam do zgłębiania tajemnic świata przepisów dotyczących wprowadzania na polski rynek
      produktów w opakowaniach oraz innych artykułów, w których dbałość o zgodność i bezpieczeństwo
      są kluczowe. W mojej pracy stawiam na profesjonalizm, dokładność i partnerskie podejście, by
      każdy klient mógł być pewny, że jego produkt spełnia najwyższe standardy. Jeśli potrzebujesz
      wsparcia lub porady w powyższych kwestiach, zapraszam do kontaktu. Razem możemy upewnić się,
      że Twój biznes działa zgodnie z najnowszymi przepisami, co przekłada się na sukces i zaufanie
      klientów.
    </p>
  </div>
</Section>
