---
import Section from '@layouts/Section.astro';
import ContactForm from '@components/ContactForm.astro';
---

<Section name="contact">
  <div class="header stack-sm">
    <h2>Kontakt</h2>
    <p>
      Skontaktuj się ze mną, abyśmy wspólnie mogli pracować nad ekologiczną przyszłością Twojej
      marki.
    </p>
  </div>

  <div class="content">
    <ContactForm />
  </div>
</Section>
