---
import Section from '@layouts/Section.astro';
import Link from '@components/Link.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'contact');
const { name, title, subtitle } = content.data;
---

<Section name={name}>
  <div class="header stack">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>

  <div class="content">
    <div class="buttons">
      <Link url="mailto:info@puttopack.pl" className="button email has-icon" iconName="mail-ico">
        Napisz
      </Link>
    </div>
  </div>
</Section>
