---
import Section from '@layouts/Section.astro';
import Accordion from '@components/Accordion.astro';
---

<Section name="faq">
  <div class="header">
    <h2>Kochani, w swoich mailach często pytacie mnie:</h2>
  </div>

  <div class="content">
    <div class="faq-content">
      <Accordion
        id="q1"
        title="Jak brzmi odpowiedź na życie, wszechświat i wszystko?"
        content="42"
      />
      <Accordion
        id="q2"
        title="Co to za akcja i czy jest tu jakiś cwaniak?"
        content="Nie ma cwaniaka ale wyskakuj z piątaka."
      />
      <Accordion
        id="q3"
        title="Dlaczego ściany nie toczą ze sobą wojen?"
        content="Bo pomiędzy nimi jest pokój."
      />
    </div>
  </div>
</Section>
