---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';

import { getEntry } from 'astro:content';
const features = await getEntry('page', 'features');
---
<Section name="features">
  <div class="section-header">
    <p class="title">O mnie</span>
    <h2>
      PUT to PACK
    </h2>
    <p>
      Specjalizuje się w takich obszarach jak:
    </p>
  </div>

  <div class="section-content">
    <div class="features-container">
      {features.data.map(feature => (
        <Feature {...feature} />
      ))}
    </div>
  </div>
</Section>