---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'features');
const { name, subtitle } = content.data;

const features = [
  {
    title: 'Opakowaniach',
    imgSrc: '/box.png',
  },
  {
    title: 'Elektronice',
    imgSrc: '/battery.png',
  },
  {
    title: 'Chemii',
    imgSrc: '/barrel.png',
  },
];
---

<Section name={name}>
  <div class="header stack">
    <div>
      Napisz do mnie – pomogę Ci zweryfikować Twoje obowiązki i zaproponuję najlepsze rozwiązania.
    </div>
    <h2>{subtitle}</h2>
  </div>
  <div class="content">
    {features.map((feature) => <Feature {...feature} />)}
  </div>
</Section>

<style lang="scss">
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    --multiplier: calc(40rem - 100%);
  }
</style>
