---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';

import { getEntry } from 'astro:content';
const features = await getEntry('page', 'features');
---
<Section name="features">
  <div class="section is-medium">
    <h1 class="title">
      PUT to PACK
    </h2>
    <h2 class="subtitle">
      Specjalizuje się w takich obszarach jak:
    </h2>
  </div>

  <div class="section-content">
    <div class="features-container">
      {features.data.map(feature => (
        <Feature {...feature} />
      ))}
    </div>
  </div>
</Section>