---
import Feature from '@components/Feature.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'features');
const { subtitle } = content.data;

const features = [
  {
    title: 'Opakowaniach',
    imgSrc: '/box.png',
  },
  {
    title: 'Elektronice',
    imgSrc: '/battery.png',
  },
  {
    title: 'Olejach i Oponach',
    imgSrc: '/barrel.png',
  },
];
---

<section class="stack-lg">
  <div class="header">
    <h2>{subtitle}</h2>
  </div>
  <div class="content">
    {features.map((feature) => <Feature {...feature} />)}
  </div>
</section>
<style lang="scss">
  .content {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;

    --multiplier: calc(40rem - 100%);
  }
</style>
