---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'features');
const { name, title, subtitle } = content.data;

const features = [
  {
    title: 'Opakowań',
    text: 'Z Własnym Brandingiem.',
    imgSrc: '/box.png',
  },
  {
    title: 'Elektroniki',
    text: 'Sprzęt Elektroniczny i Elektryczny.',
    imgSrc: '/battery.png',
  },
  {
    title: 'Specjalistycznych',
    text: 'Oleje i Opony.',
    imgSrc: '/barrel.png',
  },
];
---

<Section name={name}>
  <div class="header stack">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>
  <div class="content">
    {features.map((feature) => <Feature {...feature} />)}
  </div>
</Section>

<style lang="scss">
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    --multiplier: calc(40rem - 100%);
  }
</style>
