---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';
import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'features');
const { name, title, subtitle } = content.data;

const features = [
  {
    title: 'Opakowania',
    text: 'Opakowania z Własnym Brandingiem.',
    imgSrc: '/box.png',
  },
  {
    title: 'Elektronika',
    text: 'Urządzenia Elektryczne, Elektroniczne oraz Akumulatory.',
    imgSrc: '/src/assets/images/battery.png',
  },
  {
    title: 'Specjalistyczne',
    text: 'Zużyte Oleje, Opony, Środki Smarowe i Specjalistyczne.',
    imgSrc: '/src/assets/images/barrel.png',
  },
];
---

<Section name={name}>
  <div class="header stack-sm">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>
  <div class="content">
    <div class="features-container">
      {features.map((feature) => <Feature {...feature} />)}
    </div>
  </div>
</Section>

<style lang="scss">
  .features-container {
    display: flex;
    flex-wrap: wrap;
    --multiplier: calc(40rem - 100%);
  }
</style>
