---
import Section from '@layouts/Section.astro';
import Feature from '@components/Feature.astro';
import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'features');
const features = await getEntry('features', 'features');

const { name, title, subtitle } = content.data;
---

<Section name={name}>
  <div class="header stack-sm">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>
  <div class="content">
    <div class="features-container">
      {features.data.map((feature) => <Feature {...feature} />)}
    </div>
  </div>
</Section>

<style lang="scss">
  .features-container {
    display: flex;
    flex-wrap: wrap;
    --multiplier: calc(40rem - 100%);
  }
</style>
