---
const currentYear = new Date().getFullYear().toString();
---

<style lang="scss">
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-lg);
    margin-inline: auto;
  }
</style>

<footer>
  <div class="footer-content"></div>
</footer>
