---
const currentYear = new Date().getFullYear().toString();
---

<style lang="scss">
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-md);
    margin-inline: auto;
    border-top: 1px solid #d7d7d7;
  }
</style>

<footer>
  <div class="footer-content">
    <div class="copyright">
      <p>© {currentYear} Puttopack.</p>
    </div>
  </div>
</footer>
