---
import Logo from '@components/Logo.astro';
import Navigation from '@components/Navigation.astro';
import SocialLinks from '@components/SocialLinks.astro';
import logoImg from '/src/assets/images/puttopack_logo.png';

import { getEntry } from 'astro:content';
const headerContent = await getEntry('landing', 'config');
const { pageName, menu } = headerContent.data;
---

<header>
  <div class="nav-container">
    <Logo name={pageName} imgSrc={logoImg} />
    <Navigation class="is-capitalized" menu={menu} />
    <SocialLinks />
  </div>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background);

    .nav-container {
      display: flex;
      align-items: center;
      margin-inline: auto;
      justify-content: space-between;
      padding: var(--padding-sm);
      max-width: var(--max-section-width);
    }

    @media (max-width: 24em) {
      display: none;
    }
  }
</style>
