---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
import { getEntry } from 'astro:content';

const content = await getEntry('landing', 'hero');
const { name, title, subtitle } = content.data;
---

<Section name={name}>
  <div class="header stack">
    <h1>{title}</h1>
    <p>{subtitle}</p>
    <div class="buttons">
      <a href="#">
        <Button>Usługi</Button>
      </a>
      <a href="#">
        <Button className="color-secondary">Kontakt</Button>
      </a>
    </div>
  </div>
</Section>
