---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
---

<Section name="hero">
  <div class="header">
    <h1>Put To Pack</h1>
    <p>
      Realizuje prawne zobowiązania wprowadzeniowe wynikające z ustaw firmom, które sprzedają
      produkty w opakowaniach z własnym logo.
    </p>
  </div>
  <div class="buttons">
    <a class="link-button" href="#">
      <Button buttonText="Usługi" />
    </a>
    <a href="#">
      <Button className="color-secondary" buttonText="Kontakt" />
    </a>
  </div>
</Section>

<style lang="scss">
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
  }
</style>
