---

// import { Image } from 'astro:assets';
// import backgroundImage from '/src/assets/images/hero_bg.png';
---

<!-- <section id="hero">
  <div class="header">
    <h1>
      Twój Naturalnie Odpowiedzialny Doradca
    </h1>
    <div class="card">
      <p>
        Zapewniamy kompleksowe wsparcie związane z realizacją przepisów środowiskowych.
      </p>
      <ul class="card-list" role="list">
        <li data-icon="🦄">Audyt</li>
        <li data-icon="😎">Wdrożenia</li>
        <li data-icon="🌈">Szkolenia</li>
      </ul>
    </div>
  </div>
 <Image class="background-img" src={backgroundImage} alt="Background image" /> -->


<style type="scss">
  #hero {
  display: grid;
  grid-template-areas: "hero";
  overflow: hidden;
  height: 75vh;
  border-bottom: var(--border-regular);

  > * {
    grid-area: hero;
  }

  .background-img {
    object-fit: cover;
    object-position: bottom;
    align-self: end;
    height: min(75vh, 800px);
    width: 100%;
    z-index: -1;
    filter: opacity(0.7);
  }

  .header {
    width: min(100vw - 3rem, 80ch);
    margin-top: var(--margin-xl);
    z-index: 1;
    margin-inline: auto;

    .card-list {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      padding-top: var(--padding-sm);
    }

    .card-list li {
      padding-left: var(--padding-xs);
      &::marker {
        content: attr(data-icon);
        font-size: 1em;
      }
    }
  }
}
</style> 