---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
import { type SectionHeader } from '../../content/config';
import { getEntry } from 'astro:content';

const heroContent = await getEntry('landing', 'hero');
const { name, title, subtitle }: SectionHeader = heroContent.data;
---

<Section name={name}>
  <div class="header stack">
    <h1>{title}</h1>
    <p>{subtitle}</p>
    <div class="buttons">
      <a href="#">
        <Button buttonText="Usługi" />
      </a>
      <a href="#">
        <Button className="color-secondary" buttonText="Kontakt" />
      </a>
    </div>
  </div>
</Section>

<style lang="scss">
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
  }
</style>
