---
import Section from '@layouts/Section.astro';
import Button from '@components/Button.astro';
---

<Section name="hero">
  <div class="header">
    <h1>Put To Pack</h1>
    <p class="subtitle">
      Realizuje prawne zobowiązania wprowadzeniowe wynikające z ustaw firmom, które sprzedają
      produkty w opakowaniach z własnym logo.
    </p>
  </div>
  <div class="buttons">
    <a href="#">
      <Button className="color-secondary" buttonText="Contact Us" />
    </a>
    <a class="link-button" href="#">
      <Button buttonText="Our Services" />
    </a>
  </div>
</Section>

<style lang="scss">
  .subtitle {
    margin-top: 16px;
    color: #6b7280;
  }

  .buttons {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .button,
  .button-outline {
    padding: 8px 16px;
    text-align: center;
  }
</style>
