---
import Logo from '@components/Logo.astro';
import { Icon } from 'astro-icon/components'
import { config, menu } from '@config/data.js';

---

<header class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <Logo name={config.pageName} />

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu-component">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="menu-component" class="navbar-menu">
    <menu class="navbar-start">
      {menu.map(({ link, name }) => (
        <a class="navbar-item" href={link}>{name}</a>
      ))}
    </menu>
  </div>
</header>
<script is:inline lang="ts">
  /// <reference types="jquery" />
$(function() {
  $(".navbar-burger").on('click', function() {
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");
  });
});
</script>