---
import Logo from '@components/Logo.astro';
import { config, menu } from '@config/data.js';

import logoImg from '/src/assets/images/putopack_logo.png';
---

<header>
  <div>
    <Logo name={config.pageName} imgSrc={logoImg} />
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      aria-controls="menu"
    >
    </a>
    <nav class="menu is-capitalized" role="navigation" aria-label="main navigation">
      <ul>
        {
          menu.map(({ link, name }) => (
            <li>
              <a href={link}>{name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    top: 0;
    z-index: 3;
    width: 100%;
    position: sticky;
    background-color: var(--color-navbar);
    box-shadow: var(--header-shadow);

    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: var(--max-section-width);
      margin-inline: auto;
    }

    .menu li {
      display: inline-block;
    }

    .menu a {
      display: block;
      padding: 1.25rem 1rem;
      color: var(--color-text);
      font-weight: 600;
    }

    .menu li > a:focus,
    .menu li > a:hover {
      background-color: #f4f4f4;
    }

    .menu-icon {
      display: none;
      cursor: pointer;
    }
  }
</style>
