---
import Logo from '@components/Logo.astro';
import { config, menu } from '@config/data.js';

import logoImg from '/src/assets/images/putopack_logo.png';
---

<header>
  <div>
    <Logo name={config.pageName} imgSrc={logoImg} />
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      aria-controls="menu"
    >
    </a>
    <nav class="menu" role="navigation" aria-label="main navigation">
      <ul>
        {
          menu.map(({ link, name }) => (
            <li>
              <a href={link}>{name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  header {
    top: 0;
    z-index: 3;
    width: 100%;
    position: sticky;
    background-color: var(--color-navbar);
    box-shadow: var(--header-shadow);

    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .menu li {
      display: inline-block;
    }

    .menu a {
      display: block;
      padding: 1.25rem 1rem;
    }

    .menu li > a:focus,
    .menu li > a:hover {
      background-color: #f4f4f4;
    }

    .menu-icon {
      display: none;
      cursor: pointer;
    }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll('.navbar-burger'),
      0
    );

    // Add a click event on each of them
    $navbarBurgers.forEach((el) => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target?.classList.toggle('is-active');
      });
    });
  });
</script>
