---
import Section from '@layouts/Section.astro';
import Link from '@components/Link.astro';
---

<Section name="photo">
  <div class="header stack-sm">
    <h1>Cześć! Jestem Zuza Zalewska</h1>
    <p>Twój doradca środowiskowy</p>
  </div>
  <div class="container stack">
    <div class="text-content">
      Nie jesteś pewien, co zrobić dalej? Chętnie pomogę!
      <p>
        Przez lata pracy nad różnorodnymi projektami zdobyłam nie tylko wiedzę, ale i praktyczne
        doświadczenie w zakresie przepisów ochrony środowiska.
      </p>

      <p>Pomagam firmom spełniać wymogi prawne wynikające z ustaw środowiskowych.</p>
    </div>
    <div class="image-wrapper">
      <img src="/zu_photo_web.jpg" alt="Profile Picture" />
    </div>
  </div>

  <div class="buttons stack-sm">
    <p class="text-center">
      Napisz do mnie – pomogę Ci zweryfikować Twoje obowiązki i zaproponuję najlepsze rozwiązania.
    </p>
    <Link url="#contact" className="button outline">Kontakt</Link>
    <Link url="#services" className="button">Usługi</Link>
  </div>
</Section>

<style lang="scss">
  @import '@styles/_layout.scss';

  $primary-color: #e01b24;
  $background-color: #e0e0e0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--margin-md);
    border-radius: var(--radius-md);
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #ffdfc8, #ffdfc8);
    background-size: 66.666% 100%;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  // Maybe time for contaianer query?
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--padding-sm);
    border-radius: var(--radius-md);

    @include breakpoint(medium) {
      max-width: 45%;
    }
  }

  .image-wrapper {
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      position: relative;
      width: 100%;
      z-index: 1;
      border-radius: var(--radius-md);
    }

    &::after {
      background-color: #e8e8e4;
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 1rem;
      top: 1rem;
      z-index: 0;
      border-radius: var(--radius-md);
    }
  }
</style>
