---
import Section from '@layouts/Section.astro';
import Card from '@components/Card.astro';

import { getEntry } from 'astro:content';
const servicesContent = await getEntry('landing', 'services');
const { name, title, subtitle, services } = await servicesContent.data;
---

<Section name={name}>
  <div class="header stack">
    <h2>{title}</h2>
    <p>{subtitle}</p>
  </div>

  <div class="content">
    {services.map((service) => <Card {...service} />)}
  </div>
</Section>

<style lang="scss">
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
    --multiplier: calc(40rem - 100%);
  }
</style>
