---
import { services } from '@config/data.js';

import Section from '@layouts/Section.astro';
import Card from '@components/Card.astro';
---

<Section name="services">
  <div class="section-header">
    <p class="title">Usługi</span>
    <h2>
      W czym mogę Ci pomóc?
    </h2>
    <p>
      Ogarnę Ci zgodność z przepisami środowiskowymi, porządek w dokumentach i inne sprawy.
    </p>
  </div>

  <div class="section-content">
    <div class="services-container">
      {services.map(({ title, description, icon }) => (
        <Card title={title} description={description} icon={icon} />
        ))}
    </div>
  </div>
</Section>

<style lang="scss">
  .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
    --multiplier: calc(40rem - 100%);
  }
</style>
