---
import SpeedInsights from '@vercel/speed-insights/astro';
import '@fontsource/inter';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/400.css';
import '@fontsource-variable/noto-serif';
import '@fontsource-variable/rethink-sans';
import '@fontsource-variable/dm-sans';
import '@styles/_index.scss';
import Header from '@sections/Header.astro';
import Footer from '@sections/Footer.astro';

const PAGE_TITLE = 'Astrotopack';
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astrotopack" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{PAGE_TITLE}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
