---
import '@fontsource/inter';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/400.css';

import '@styles/main.scss'
import Navbar from '@sections/Navbar.astro';
import Footer from '@sections/Footer.astro';

const PAGE_TITLE = 'Astrotopack';
---
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{PAGE_TITLE}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
