---
import SpeedInsights from '@vercel/speed-insights/astro';
import '@fontsource/inter';
import '@fontsource-variable/rethink-sans';
import '@styles/main.scss';
import Navbar from '@components/navbar/Navbar.astro';
import Footer from '@sections/Footer.astro';

const PAGE_TITLE = 'Put To Pack';
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={PAGE_TITLE} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{PAGE_TITLE}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
