---
const { name } = Astro.props;
---

<section id={name}>
  <div class="section stack">
    <slot />
  </div>
</section>

<style lang="scss">
  .section {
    margin-inline: auto;
    padding: var(--padding-lg) var(--padding-md);
    max-width: var(--max-section-width);
  }
</style>
