---
import Stack from '@layouts/Stack.astro';
const { name } = Astro.props;
---

<section id={name}>
  <div class="container">
    <Stack>
      <slot />
    </Stack>
  </div>
</section>

<style lang="scss">
  .container {
    margin-inline: auto;
    padding: var(--space-m);
    max-width: var(--max-section-width);
  }
</style>
