---
const { name, description } = Astro.props;
---

<div class="card">
  <h3>{name}</h3>
  <p>{description}</p>
</div>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding: var(--space-m);
    background: var(--bg-secondary);
    border: var(--border-lg);
    border-radius: var(--radius-md);
    box-shadow: var(--box-shadow);
  }
</style>
