---
import HeadingGroup from '@components/ui/HeadingGroup.astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'features');
const { title } = content.data;

const features = [
  {
    title: 'Opakowania',
    imgSrc: '/box.png',
  },
  {
    title: 'Elektronika',
    imgSrc: '/battery.png',
  },
  {
    title: 'Oleje i Opony',
    imgSrc: '/barrel.png',
  },
];
---

<section>
  <HeadingGroup heading={title} />
  <div class="content">
    {
      features.map((feature) => (
        <div class="feature">
          <Image
            src={feature.imgSrc}
            alt={feature.title}
            height="90"
            width="90"
          />
          <h3>{feature.title}</h3>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .content {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
    --multiplier: calc(40rem - 100%);

    .feature {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 31%;
      max-width: 100%;
      flex-basis: calc(var(--multiplier) * 999);
      background: var(--background);
      gap: var(--space-s);
    }
  }
</style>
