---
import HeadingGroup from '@components/ui/HeadingGroup.astro';
import Section from '@layouts/Section.astro';
import Card from '@components/services/Card.astro';
import Features from '@components/services/Features.astro';
import Grid from '@layouts/Grid.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'services');
const { name, title, subtitle, services } = await content.data;
---

<Section name={name}>
  <Features />
  <HeadingGroup heading={title} subheading={subtitle} />
  <Grid>
    {services.map((service: any) => <Card {...service} />)}
  </Grid>
</Section>
