---
import Section from '@layouts/Section.astro';
import HeadingGroup from '@components/ui/HeadingGroup.astro';
import Link from '@components/ui/Link.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'contact');
const { name, title, subtitle } = content.data;
---

<Section name={name}>
  <HeadingGroup heading={title} subheading={subtitle} />

  <div class="content">
    <div class="buttons">
      <Link
        url="mailto:info@puttopack.pl"
        className="button large email has-icon"
        iconName="mail-ico"
      >
        Napisz
      </Link>
    </div>
  </div>
</Section>
