---
import Section from '@layouts/Section.astro';
import Center from '@layouts/Center.astro';
import HeadingGroup from '@components/ui/HeadingGroup.astro';
import Button from '@components/ui/Button.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'contact');
const { name, title, subtitle } = content.data;
---

<Section name={name}>
  <HeadingGroup heading={title} subheading={subtitle} />
  <Center>
    <Button
      asLink
      url="mailto:info@puttopack.pl"
      className="button large email has-icon"
      iconName="mail-ico"
    >
      Napisz
    </Button>
  </Center>
</Section>
