---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  type?: 'button' | 'submit';
  size?: 'sm' | 'md' | 'lg';
  theme?: 'primary' | 'secondary' | 'success' | 'danger' | 'warning' | 'info' | 'light' | 'dark';
  className?: string;
  iconName?: string;
}

const { type = 'button', size = 'md', className, iconName } = Astro.props;
---

<button class:list={[className]} type={type} data-size={size}>
  {iconName && <Icon class="icon" name={iconName} />}
  <span>
    <slot />
  </span>
</button>
