<style is:global>
  .reel {
    /* ↓ Custom properties for ease of adjustment */

    --color-light: #fff;
    --color-dark: #000;
    --reel-height: auto;
 
    display: flex;
    height: var(--reel-height);
    /* ↓ Overflow */
    overflow-x: auto;
    overflow-y: hidden;
    /* ↓ For Firefox */
    scrollbar-color: var(--color-light) var(--color-dark);
  }
  .reel > * { 
    /*
    ↓ Just a `width` wouldn’t work because
    `flex-shrink: 1` (default) still applies
    */
    flex: 0 0 ;
  }
  .reel > img {
    /* ↓ Reset for images */
    height: 100%;
    flex-basis: auto;
    width: auto;
  }
  .reel::-webkit-scrollbar {
    /*
    ↓ Instead, you could make the scrollbar height
    a variable too. This is left as an exercise
    (be mindful of the linear-gradient!)
    */
    height: 1rem;
  }
  .reel::-webkit-scrollbar-track {
    background-color: var(--color-light);
  }
  .reel::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    /* ↓ Linear gradient ‘insets’ the white thumb within the black bar */
    background-image: linear-gradient(var(--color-dark) 0, var(--color-dark)
  0.25rem, var(--color-light) 0.25rem, var(--color-light) 0.75rem, var(--color-
  dark) 0.75rem);
  }
</style>

<div class="reel">
  <slot />
</div>
