<style>
  section {
    padding-top:4rem
  }
  .section-container {
    max-width: var(--section-container-max-width);
    margin: 0 auto;
    padding: 1rem;
  }
</style>

<section>
  <div class="section-container">
    <slot/>
  </div>
</section>