<style is:global>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stack > * + * {
    margin-top: var(--space, 1rem);
  }
  .stack-small > * + * {
    margin-top: var(--space, 0.5rem);
  }
  .stack-large > * + * {
    margin-top: var(--space, 3rem);
  }
  .stack:only-child {
    height: 100%;
  }
  .stack > :nth-child(2) {
    margin-bottom: auto;
  } 
</style>

<div class="stack">
  <slot />
</div>
