---
import './accordion.scss';
let { id, title, content } = Astro.props;
---
<div class="faq-question">
  <input id={id} type="checkbox" class="panel">
  <div class="plus">+</div>
  <label for={id} class="panel-title">{title}</label>
  <div class="panel-content">{content}</div>
</div>