<div class="background">
  <slot />
</div>

<style>
  .background {
    background-image: url('/animated_cloud.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: -5;
  }
</style>
