---
import Body from '@layouts/Body.astro';
import Header from '@components/navbar/Header.astro';

import ResolutionBox from '@devtools/ResolutionBox.astro';
import Menu from '@components/navbar/Menu.astro';
import ImageBackground from './ImageBackground.astro';
import Hero from './Hero.astro';
import PutToPackLogo from 'src/pages/test/PutToPackLogo.astro';

import { getEntry } from 'astro:content';
const content = await getEntry('landing', 'config');

const { menu } = content.data;
---

<Body>
  <ImageBackground>
    <Header>
      <PutToPackLogo />
      <Menu menu={menu} />
    </Header>
    <Hero />
  </ImageBackground>
  <ResolutionBox />
</Body>
