---
import { Icon } from 'astro-icon/components';
const { className, iconName, buttonText } = Astro.props;
---
<button type="button" class={className} >
  {iconName &&
    <Icon class="icon" name={iconName} />
  }
  <!-- Isn't that obivious that we mean button text here? -->
  {buttonText}
</button>

<style type="text/css">
  button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
  }

  .copy-email {
    background-color: #007bff;
      &:hover {
        background-color: #0069d9;
      }
  }

  .phone {
    background-color: #28a745;
    &:hover {
      background-color: #218838;
    }
  }

  .icon {
    font-size: 1.4rem;
    font-weight: 600;
  }
</style>