---
const { name, description } = Astro.props;
---

<div class="card">
  <h3>{name}</h3>
  <p>{description}</p>
</div>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(var(--multiplier) * 999);
    min-width: 40%;
    max-width: 100%;
    flex-grow: 1;
    gap: var(--gap-sm);
    padding: var(--padding-md);
    background: var(--primary-200);
    border-radius: 1rem;
    border: var(--border-lg);
    box-shadow: var(--box-shadow);
  }
</style>
