---
const { title, description, icon } = Astro.props;
---
<style lang="scss">
  .card {
    display: flex;
    flex-basis: calc(var(--multiplier) * 999);
    min-width: 40%;
    max-width: 100%;
    flex-grow: 1;
    background-color: #fff;
    align-items: center;
    gap: var(  --gap-sm);
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    border: var(--border-regular);
    transition: all .15s ease-out;


      div {
        padding-left: var(--padding-sm);
          h3 {
            margin-bottom: var(--margin-xs);
          }
          
          p {
          text-wrap: balance;
          line-height: 1.7;
        }
      }
  }
</style>

<div class="card">
  <!-- <img src={icon} alt="Skill Icon" width="60" height="60"> -->
  <div>
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>
