---
import { Image } from 'astro:assets';

const { imgSrc, title, description } = Astro.props;
---

<div class="feature-item">
  <Image src={imgSrc} alt={title} height="80" width="90" />
  <h3>{title}</h3>
  <p>{description}</p>
</div>

<style type="scss">
  .feature-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .feature-item {
    display: grid;
    min-width: 33%;
    max-width: 100%;
    gap: var(--gap-xs);
    margin-top: var(--margin-xs);
    flex-basis: calc(var(--multiplier) * 999);

    img {
      opacity: 0.8;
    }
  }
</style>
