---
import { Image } from 'astro:assets';
const { imgSrc, title, text } = Astro.props;
---

<div class="feature stack-sm">
  <Image src={imgSrc} alt={title} height="90" width="90" />
  <h3>{title}</h3>
  <p>{text}</p>
</div>

<style type="scss">
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    min-width: 30%;
    max-width: 100%;
    flex-basis: calc(var(--multiplier) * 999);
    background: var(--background);
    padding: var(--padding-sm);
  }
</style>
