---
import { Image } from 'astro:assets';
const { imgSrc, title, text } = Astro.props;
---

<div class="feature-item stack-sm">
  <Image src={imgSrc} alt={title} height="90" width="90" />
  <h3>{title}</h3>
  <p>{text}</p>
</div>

<style type="scss">
  .feature-item {
    display: grid;
    min-width: 28%;
    max-width: 100%;
    flex-basis: calc(var(--multiplier) * 999);
    margin: var(--margin-xs);
    padding: var(--padding-xs);
    background-color: var(--background);
    border: var(--border-thin);

    img {
      opacity: 0.8;
    }
  }
</style>
