---
import { Image } from 'astro:assets';
const { imgSrc, title, text } = Astro.props;
---

<div class="feature-item">
  <Image src={imgSrc} alt={title} height="80" width="90" />
  <h3>{title}</h3>
  <p>{text}</p>
</div>

<style type="scss">
  .feature-item {
    display: grid;
    min-width: 33%;
    max-width: 100%;
    flex-basis: calc(var(--multiplier) * 999);
    margin-top: var(--margin-xs);

    img {
      opacity: 0.8;
    }
  }
</style>
