---
import { Image } from 'astro:assets';
const { imgSrc, title, text } = Astro.props;
---

<div class="feature stack-sm">
  <Image src={imgSrc} alt={title} height="90" width="90" />
  <h3>{title}</h3>
  <p>{text}</p>
</div>
<style type="scss">
  @import '@styles/_layout.scss';

  .feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 31%;
    max-width: 100%;
    flex-basis: calc(var(--multiplier) * 999);
    background: var(--background);
    gap: var(--gap-sm);

    @include breakpoint(medium) {
    }
  }
</style>
