---
import { Image } from 'astro:assets';
const { name, imgSrc } = Astro.props;
---

<a href="/" class="logo">
  <Image src={imgSrc} alt="Logo" width="75" height="85" />
  <span><b>Put </b>to <b>Pack</b></span>
</a>

<style lang="scss">
  .logo {
    display: flex;
    align-items: baseline;
    img {
      position: relative;
      bottom: -20px;
      margin-right: 0.5rem;
    }

    span {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;

      b {
        font-weight: 900;
      }
    }
  }
</style>
