---
import { Image } from 'astro:assets';
import logoSrc from '/src/assets/images/putopack_logo.png';

const { name } = Astro.props;
---
<div class="logo">
  <a href="/">
    <Image
      src={logoSrc}
      alt={`${name} logo`}
      width="50"
      height="50"
    />
    <span>{name}</span>
  </a>
</div>

<style type="scss">
  .logo {
    img {
      margin-right:   0.5rem;
      vertical-align: -1rem;
    }
    span {
      font-size:    1.2rem;
      font-weight:  800;
    }
  }
</style>