---
import { Image } from 'astro:assets';
const { name, imgSrc } = Astro.props;
---

<a href="/" class="logo">
  <Image src={imgSrc} alt="Logo" width="50" height="60" />
  <span>{name}</span>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    color: inherit;
  }

  img {
    margin-right: 0.7rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 700;
  }
</style>
