---
interface Props {
  menu: NavItem[];
}

interface NavItem {
  url: string;
  text: string;
}

const { menu } = Astro.props;
---

<nav role="navigation" aria-label="main navigation">
  <ul>
    {
      menu.map(({ url, text }) => (
        <li>
          <a href={url}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    li {
      display: inline-block;
    }

    a {
      font-weight: 700;
      text-transform: uppercase;
      padding: var(--padding-sm);

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
