---
import Link from './Link.astro';

interface Props {
  menu: NavItem[];
}

interface NavItem {
  url: string;
  text: string;
}

const { menu } = Astro.props;
---

<nav role="navigation" aria-label="main navigation">
  <ul>
    {
      menu.map(({ url, text }) => (
        <li>
          <Link className="nav-link" url={url}>
            {text}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
