---
const { menu } = Astro.props;
---

<nav role="navigation" aria-label="main navigation">
  <ul>
    {
      menu.map(({ link, text }) => (
        <li>
          <a href={link}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav li {
    display: inline-block;
  }

  nav a {
    display: block;
    padding: var(--padding-sm);
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 700;
  }

  nav li > a:focus,
  nav li > a:hover {
    border-radius: 1rem;
  }
</style>
