---
const { menu } = Astro.props;
---

<nav role="navigation" aria-label="main navigation">
  <ul>
    {
      menu.map(({ link, text }) => (
        <li>
          <a href={link}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    display: flex;

    justify-content: center;
    li {
      display: inline-block;
    }

    a {
      display: block;
      font-weight: 800;
      text-transform: uppercase;
      padding: var(--padding-sm);

      &:focus,
      &:hover {
      }
    }
  }
</style>
