---
import { Icon } from 'astro-icon/components';
const instagramUrl = 'https://www.instagram.com/puttopack';
---

<div class="social-links">
  <a href={instagramUrl} class="social-link">
    <Icon name="instagram-ico" />
  </a>
</div>

<style lang="scss">
  .social-links {
    display: flex;
    align-items: center;
    [data-icon] {
      font-size: 1.7rem;
    }

    a {
      border-radius: 50%;
      width: 4ch;
      height: 4ch;
      display: flex;
      justify-content: center;
      align-items: center;
      border: var(--border-sm);
      cursor: pointer;

      background: #e4405f;
      color: #fff;

      &:is(:hover, :focus) {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
      }
    }
  }
</style>
