---
import { Icon } from 'astro-icon/components';
const instagramUrl = 'https://www.instagram.com/puttopack';
---

<div class="social-links">
  <a href={instagramUrl} class="social-link">
    <Icon name="instagram-ico" />
  </a>
</div>

<style lang="scss">
  .social-links {
    margin-top: -0.5rem;
    display: flex;

    [data-icon] {
      font-size: 2rem;
    }

    a {
      border-radius: 50%;
      width: 4.8ch;
      height: 4.8ch;
      display: flex;
      justify-content: center;
      align-items: center;
      border: var(--border-thin);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover {
        background: #e4405f;
        color: #fff;
      }
    }
  }
</style>
